<form action='/films' method='post'>
  <label for='title'>Title: </label>
  <input type='text' name='title' autofocus='true'>
  <label for='year'>Year: </label>
  <input type='text' name='year'>
  <label for='runTime'>Run Time: </label>
  <input type='text' name='runTime'>
  <input type='submit' value='Add new film!'>
</form>